<!DOCTYPE html>

<head>
  <title>get premium</title>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/sample-defaults.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/utility-classes.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/premium.css">
</head>

<body>
  <div class="premium-nav-promo text-center">
    <div class="container">
      <div class="row">
        <strong>
          Early Owl Promo! 
        </strong>
        Get premium now at 20% off for P100 a month.
        <a class="text-700 link-white" href="/">Get Premium Now</a> 
      </div>
    </div>
  </div>

  <div class="premium-home-banner bg-premium text-center text-white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="font-56 text-700 m0">
            Get an edge with iCPA Premium
          </div>
          <div class="font-24 text-300">Answer more than 25,000 additional questions for just P120 a month</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-centered">
          <div class="btn btn-block btn-md btn-premium link-white font-16 text-700">
            Get Premium
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a class="font-16 link-white" href="/">Or sign up for our free service</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sign-up-card-container">
    <div class="container">
      <div class="row">
        <div class="sign-up-card col-xs-12 col-sm-8 col-md-6 col-centered bg-white p32">
          <input class="btn-block" type="text" name="name" placeholder="Name">
          <input class="btn-block" type="text" name="Address" placeholder="Address">
          <input class="btn-block" type="text" name="School" placeholder="School">
        </div>
      </div>
    </div>
  </div>

</body>