<!DOCTYPE html>

<head>
  <title>get premium</title>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/sample-defaults.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/utility-classes.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/popover.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/premium.css">
</head>

<body>

  <div class="">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <div class="popover-trigger premium-question-popover">
            <img class="premium-question-badge" src="../assets/images/premium-question-badge.png">
            <div class="popover-body text-center">
              <div class="text-premium text-700 font-21">This is a free Premium question</div>
              <br />
              <div class="font-14 text-light">To unlock all premium questions, 
              <br />
              get iCPA Premium at only P120 / month</div>
              <br />
              <div class="btn btn-block btn-md btn-premium link-white font-16 text-700">
                Get Premium
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</body>