<!DOCTYPE html>

<head>
  <title>get premium</title>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/sample-defaults.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/utility-classes.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/popover.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/premium.css">
</head>

<body>

  <div class="">
    <div class="container sample-page-body">

      <div class="row">
        <div class="col-xs-12 bg-white card">
          <div class="row">
            <div class="col-sm-6">              
            </div>
            
            <!-- Copy this component --> 
            <div class="col-sm-6 bg-premium premium-practice-banner text-white">
              <div class="font-40 text-700">
                10000 / 
                <span class="opacity-50">
                 35,000
                </span>
              </div>
              <div class="font-24 text-700 pt8">
                Questions Available
              </div>
              <div class="premium-practice-info font-16 container-fluid">
                <img class="premium-practice-logo" src="https://cdn.icpa.ph/assets/owly/icon-owly-white-bb4acc6eef14707423def1960393e428feeaef676aac22c1872e3e28e338fb35.png" />
                <span class="inline-block font-21 premium-practice-info-text">
                  To unlock all questions, get iCPA Premium for P120 / month
                </span>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6 pt32">
                  <div class="btn btn-block btn-md btn-premium link-white font-16 text-700">
                    Get Premium
                  </div>
                </div>
              </div>
            </div>
            <!-- end of component -->

          </div>
        </div>
      </div>
    </div>
  </div>

</body>