<!DOCTYPE html>

<head>
  <title>get premium</title>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/sample-defaults.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/utility-classes.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/premium.css">
</head>

<body>

  <div class="premium-dashboard-banner bg-premium text-white">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <div class="font-40 text-700 m0">Get an edge with iCPA Premium</div>
          <div class="font-21 text-300">Answer more than 25,000 additional questions for just P120 a month</div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="btn btn-block btn-md btn-premium link-white font-16 text-700">
            Get Premium
          </div>
        </div>
      </div>

    </div>
  </div>

</body>