<!DOCTYPE html>

<head>
  <title>get premium</title>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/sample-defaults.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/utility-classes.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/popover.css">
  <link rel="stylesheet" type="text/css" href="../assets/stylesheets/premium.css">
</head>

<body>

  <div class="">
    <div class="container sample-page-body">

      <div class="row">
        <div class="col-sm-9"></div>

        <!-- component starts here -->
        <div class="col-sm-3">
          <div class="premium-active bg-premium text-white p24 text-center ">
            <img class="premium-active-badge" src="../assets/images/premium-star.png">
            <div class="font-21 text-700">PREMIUM MEMBER</div>
            <div class="font-16 pt16">All questions have been unlocked. Practice often, they won’t answer themselves!</div>
            <div class="btn btn-block btn-md btn-white btn-clear font-16 text-700 link-white">
              Practice
            </div>
          </div>
        </div>
        <!--end of component>

      </div>
    </div>
  </div>

</body>